.uploadarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadinput {
  text-align: center;
  margin-top: 100px;
  height: 300px;
  width: 50%;
  border: 2px dashed rgba(49, 50, 68, 1);
  border-radius: 5px;
}

button {
  /* color: #313244; */
  background-color: #b4befe; /* Green */
  border: none;
  text-align: center;
  font-weight: 700;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #848dc9; /* Darker Green */
}

/* #upload {
  background-color: rgba(108, 112, 134, 0.1);
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  padding: 5px;
  padding-bottom: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 10px;
  cursor: pointer;
} */

.result {
  text-align: center;
  padding-bottom: 100px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span {
  font-weight: 700;
}

.choose-file {
  display: none; /* Hide the default file input */
}

.custom-file-input {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 30px;
}

.custom-file-input:hover {
  background-color: #45a049;
}

.custom-file-input:focus {
  outline: none;
}

.custom-file-label {
  margin-left: 10px;
}

#filename {
  font-weight: 100;
  font-size: 20px;
}

.uploaded-img {
  max-width: 100%;
  height: auto;
  width: 20%;
  display: block;
  margin-top: 10px;
}

#finalimage {
  width: 20%;
  height: auto;
}
